<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants>
        <grant name="create" default="member">
            <title xml:lang="en">Create a shop</title>
        </grant>
    </grants>
    <permissions>
		<permission action="dispShopToolDashboard" target="manager" />
		<permission action="dispShopToolLayoutConfigSkin" target="manager" />
		<permission action="dispShopToolLayoutConfigEdit" target="manager" />
        <permission action="dispShopToolManageProducts" target="manager" />
        <permission action="dispShopToolAddProduct" target="manager" />
        <permission action="dispShopToolEditProduct" target="manager" />
        <permission action="dispShopToolManageAttributes" target="manager"/>
        <permission action="dispShopToolManageCategories" target="manager" />
        <permission action="dispShopToolAddProductCategory" target="manager" />
		<permission action="dispShopToolManagePaymentGateways" target="manager" />

		<permission action="procShopInfoUpdate" target="manager" />
		<permission action="procShopToolLayoutConfigSkin" target="manager" />
		<permission action="procShopToolLayoutConfigEdit" target="manager" />
		<permission action="procShopToolLayoutResetConfigSkin" target="manager" />
		<permission action="procShopToolInit" target="manager" />
		<permission action="procShopToolUserSkinExport" target="manager" />
		<permission action="procShopToolUserSkinImport" target="manager" />
		<permission action="procShopToolLive" target="manager" />
        <permission action="procShopToolInsertProductCategory" target="manager" />
        <permission action="procShopToolInsertProduct" target="manager" />
        <permission action="procShopToolDeleteProduct" target="manager" />
        <permission action="procShopToolDeleteProducts" target="manager" />

    </permissions>
    <actions>
        <action name="dispShop" type="view" index="true" />
        <action name="dispShopToolLogin" type="view" />
        <action name="dispShopProfile" type="view" />
        <action name="dispShopLogin" type="view" />
		<action name="dispShopToolLayoutConfigSkin" type="view" />
		<action name="dispShopToolLayoutConfigEdit" type="view" />
        <action name="dispShopToolManageProducts" type="view" />
        <action name="dispShopToolAddProduct" type="view" />
        <action name="dispShopToolEditProduct" type="view" />
        <action name="dispShopToolManageAttributes" type="view"/>
        <action name="dispShopToolAddProductCategory" type="view" />
        <action name="dispShopToolManageCategories" type="view"/>
		<action name="dispShopToolManagePaymentGateways" type="view" />

		<action name="dispShopToolDashboard" type="view" />
		<action name="dispShopMenu" type="view" />


        <action name="procShopLogin" type="controller" ruleset="shop_login" />
		<action name="procShopDenyDelete" type="controller" />
		<action name="procShopProfileUpdate" type="controller" />
		<action name="procShopProfileImageUpload" type="controller" />
		<action name="procShopInfoUpdate" type="controller" />
		<action name="procShopToolLayoutConfigSkin" type="controller" />
		<action name="procShopToolLayoutConfigMobileSkin" type="controller" />
		<action name="procShopToolLayoutConfigEdit" type="controller" />
		<action name="procShopToolLayoutResetConfigSkin" type="controller" />
		<action name="procShopToolInit" type="controller" />
		<action name="procShopToolUserSkinExport" type="controller" />
		<action name="procShopToolUserSkinImport" type="controller" />
		<action name="procShopToolLive" type="controller" />
        <action name="procShopToolInsertProductCategory" type="controller" />
        <action name="procShopToolInsertProduct" type="controller" ruleset="insert_product" />
        <action name="procShopToolDeleteProduct" type="controller" />
        <action name="procShopToolDeleteProducts" type="controller" />

        <action name="dispShopAdminList" type="view" standalone="true" admin_index="true" />
        <action name="dispShopAdminInsert" type="view" standalone="true" />
        <action name="dispShopAdminDelete" type="view" standalone="true" />

		<action name="procShopAdminCreate" type="controller" standalone="true" ruleset="insert_shop"  />
		<action name="procShopAdminUpdate" type="controller" standalone="true" ruleset="update_shop" />
        <action name="procShopAdminDelete" type="controller" standalone="true" ruleset="delete_shop"  />
        <action name="procShopAdminInsertCustomMenu" type="controller" standalone="true" />

        <action name="procShopServiceGetProductCategory" type="controller" standalone="true" />
        <action name="procShopServiceDeleteProductCategory" type="controller" standalone="true" />

		<action name="dispShopPasswordForm" type="mobile" />
    </actions>
</module>
