<include target="_header.html"/>

<script type="text/javascript">
    jQuery(function () {
        jQuery('#billing_address, #shipping_address').change(function () {
            var $this = jQuery(this);
            var $selected = $this.children(":selected");
            var $newAddress = ($this.next('.show_address').hasClass('billing') ? jQuery('#new-address-billing') : jQuery('#new-address-shipping'));
            var $addressText = $this.siblings('.show_address');
            if ($selected.val() == 'new') {
                $newAddress.slideDown('slow');
                $addressText.html('');
            }
            else {
                $addressText.html($selected.html());
                $newAddress.slideUp();
            }
        });
        jQuery('#billing_address, #shipping_address').change();
    });
</script>

<div id="checkout" class="mainContent" cond="isset($cart) && $cart->items">
    <h1>Checkout</h1>

    <div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
        <p>{$XE_VALIDATOR_MESSAGE}</p>
    </div>

    <form action="./" method="post" id="big">

        <input type="hidden" id="act" name="act" value="procShopToolCheckout"/>

        <fieldset id="login" cond="!$is_logged">
            <legend>Already a customer</legend>
            <ul>
                <li>
                    <label for="login_user">User</label>
                    <input type="text" name="login[user]" id="login_user">
                </li>
                <li>
                    <label for="login_pass">Pass</label>
                    <input type="text" name="login[pass]" id="login_pass">
                </li>
            </ul>
        </fieldset>

        <fieldset id="general">
            <legend>Your info</legend>
            <ul>
                <li>
                    <label for="general_firstname">First name</label>
                    <input type="text" name="general[firstname]" id="general_firstname" value="{$extra['firstname']}">
                </li>
                <li>
                    <label for="general_lastname">Last name</label>
                    <input type="text" name="general[lastname]" id="general_lastname" value="{$extra['lastname']}">
                </li>
                <li>
                    <label for="general_email">Email</label>
                    <input type="text" name="general[email]" id="general_email" value="{$extra['email']}">
                </li>
            </ul>
        </fieldset>
        <fieldset id="billing">
            <legend>Billing</legend>
            <ul>
                <!-- @if ($addresses) -->
                <li>
                    <label for="billing_address">Billing address</label>
                    <select style="width: 500px;" id="billing_address" name="billing[address]">
                        <option value="new">new address</option>
                        <!--@foreach ($addresses as $key=>$address)-->
                        <option value="{$address->address_srl}" <!--@if ($default_billing && $address->address_srl == $default_billing->address_srl)-->selected<!--@endif-->>{$address}</option>
                        <!--@endforeach-->
                    </select>
                    <div class="show_address billing"></div>
                </li>
                <!-- @endif -->

                <li id="new-address-billing" <!--@if ($addresses)--> style="display:none"<!--@endif-->>
                    <ul>
                        <li>
                            <input type="hidden" value="{$logged_info->member_srl}" name="new_billing_address[member_srl]">
                            <label for="new_billing_address_company">Company</label>
                            <input type="text" name="new_billing_address[company]" id="new_billing_address_company">
                        </li>
                        <li>
                            <label for="new_billing_address_telephone">Telephone</label>
                            <input type="text" name="new_billing_address[telephone]" id="new_billing_address_telephone">
                        </li>
                        <li>
                            <label for="new_billing_address_fax">Fax</label>
                            <input type="text" name="new_billing_address[fax]" id="new_billing_address_fax">
                        </li>
                        <li>
                            <label for="new_billing_address_address">Address</label>
                            <textarea rows="5" id="new_billing_address_address" name="new_billing_address[address]"></textarea>
                        </li>
                        <li>
                            <label for="new_billing_address_additionalinfo">Additional Info</label>
                            <textarea rows="5" id="new_billing_address_additionalinfo" name="new_billing_address[additional_info]"></textarea>
                        </li>
                        <li>
                            <label for="new_billing_address_city">City</label>
                            <input type="text" name="new_billing_address[city]" id="new_billing_address_city">
                        </li>
                        <li>
                            <label for="new_billing_address_region">Region</label>
                            <input type="text" name="new_billing_address[region]" id="new_billing_address_region">
                        </li>
                        <li>
                            <label for="new_billing_address_postalcode">Postal Code</label>
                            <input type="text" name="new_billing_address[postal_code]" id="new_billing_address_postalcode">
                        </li>
                        <li>
                            <label for="new_billing_address_country">Country</label>
                            <input type="text" name="new_billing_address[country]" id="new_billing_address_country">
                        </li>
                    </ul>
                </li>

            </ul>
        </fieldset>

        <fieldset id="shipping">
            <legend>Shipping</legend>
            <ul>
                <li>
                    <label for="shipping_method">method</label>
                    <select name="shipping[method]" id="shipping_method">
                        <option value=""></option>
                        <!--@foreach($shipping_methods as $value=>$name)-->
                        <option value="{$value}" <!--@if ($extra['shipping_method'] == $value)-->selected<!--@endif-->>{$name}</option>
                        <!--@endforeach-->
                    </select>
                </li>

                <!-- @if ($addresses) -->
                <li>
                    <label for="shipping_address">Shipping address</label>
                    <select style="width: 500px;" id="shipping_address" name="shipping[address]">
                        <option value="new">new address</option>
                        <!--@foreach ($addresses as $key=>$address)-->
                        <option value="{$address->address_srl}" <!--@if ($default_shipping && $address->address_srl == $default_shipping->address_srl)-->selected<!--@endif-->>{$address}</option>
                        <!--@endforeach-->
                    </select>

                    <div class="show_address shipping"></div>
                </li>
                <!-- @endif -->

                <li id="new-address-shipping" <!--@if ($addresses)--> style="display:none"<!--@endif-->>
                <ul>
                    <li>
                        <input type="hidden" value="{$logged_info->member_srl}" name="new_shipping_address[member_srl]">
                        <label for="new_shipping_address_company">Company</label>
                        <input type="text" name="new_shipping_address[company]" id="new_shipping_address_company">
                    </li>
                    <li>
                        <label for="new_shipping_address_telephone">Telephone</label>
                        <input type="text" name="new_shipping_address[telephone]" id="new_shipping_address_telephone">
                    </li>
                    <li>
                        <label for="new_shipping_address_fax">Fax</label>
                        <input type="text" name="new_shipping_address[fax]" id="new_shipping_address_fax">
                    </li>
                    <li>
                        <label for="new_shipping_address_address">Address</label>
                        <textarea rows="5" id="new_shipping_address_address" name="new_shipping_address[address]"></textarea>
                    </li>
                    <li>
                        <label for="new_shipping_address_additionalinfo">Additional Info</label>
                        <textarea rows="5" id="new_shipping_address_additionalinfo" name="new_shipping_address[additional_info]"></textarea>
                    </li>
                    <li>
                        <label for="new_shipping_address_city">City</label>
                        <input type="text" name="new_shipping_address[city]" id="new_shipping_address_city">
                    </li>
                    <li>
                        <label for="new_shipping_address_region">Region</label>
                        <input type="text" name="new_shipping_address[region]" id="new_shipping_address_region">
                    </li>
                    <li>
                        <label for="new_shipping_address_postalcode">Postal Code</label>
                        <input type="text" name="new_shipping_address[postal_code]"
                               id="new_shipping_address_postalcode">
                    </li>
                    <li>
                        <label for="new_shipping_address_country">Country</label>
                        <input type="text" name="new_shipping_address[country]" id="new_shipping_address_country">
                    </li>
                </ul>
                </li>

            </ul>
        </fieldset>

        <fieldset id="payment">
            <legend>Payment method</legend>
            <!--@foreach($payment_methods as $payment_method)-->
            <p>
                <input type="radio" name="payment[method]" value="{$payment_method->name}"
                <!--@if($payment_method->name == $extra['payment_method'])-->
                checked
                <!--@end-->
                >
                <span style="display:inline-block;">{$payment_method->getSelectPaymentHtml()}</span>
            <!--@end-->
            </p>
        </fieldset>

        <fieldset id="review">
            <legend>Order review</legend>

            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Ttile</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                {@ $i = 0 }
                <!--@foreach($cart_products as $product)-->
                    <tr>
                        <td>{@ ++$i;}{$i}</td>
                        <td><img src="{$product->getPrimaryImagePath()}" width="50px" height="50px" /></td>
                        <td>{$product->title}</td>
                        <td>{$product->quantity}</td>
                        <td>{number_format($product->price, 2)}</td>
                    </tr>
                <!--@end-->
                <!--@if($cart->getShippingCost() !== 0)-->
                <tr>
                    <td colspan="3">
                    </td>
                    <td>Shipping</td>
                    <td>
                        {$cart->getShippingCost()}
                    </td>
                </tr>
                <!--@end-->
                <tr style="font-weight: bold;">
                    <td colspan="3">
                    </td>
                    <td>Total</td>
                    <td>
                        {number_format($cart->getTotal(), 2)}
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>

        <p><input type="submit" value="Continue">(You can review this order before it's final)</p>

    </form>

    <p>Forgot something? Edit your <a href="{getUrl('act','dispShopCart')}" title="cart">cart</a>.</p>

</div>

<include target="_footer.html"/>