@charset "utf-8";
/* Arnia (xe_dev@arnia.ro) */



/* Element Reset */
/* removed by Florin (while making the checkout form) because it was affecting too much stuff */
/*
html{
    background:#fff;
}
body{font-family:AppleGothic, Tahoma, Sans-serif;font-size:12px;margin:0;color:#000}
address{font-style:normal}
hr{display:none;position:absolute}
legend{position:absolute;width:0;height:0;font-size:0;line-height:0;visibility:hidden}
fieldset{border:0;padding:0;margin:0}
img{border:0}
*/

/* Pagination Reset */
.pagination.aLeft{text-align:left}
.pagination.aRight{text-align:right}
.pagination *{margin:0;padding:0}
.pagination img{border:0}
.pagination a,
.pagination strong{position:relative;display:inline-block;text-decoration:none;line-height:normal;color:#333;font-family:Tahoma, Sans-serif;vertical-align:middle}
.pagination a:hover,
.pagination a:active,
.pagination a:focus{background-color:#f4f4f4 !important}
.pagination strong{color:#ff6600 !important}
.pagination a.prev,
.pagination a.prevEnd,
.pagination a.next,
.pagination a.nextEnd{font-weight:normal !important;border:none !important;margin:0 !important;white-space:nowrap}

/* Pagination Shop */
.pagination a,
.pagination strong{margin:0 2px;padding:1px 2px;font-size:12px}
.pagination a.prev,
.pagination a.prevEnd,
.pagination a.next,
.pagination a.nextEnd{display:inline-block;width:18px;height:19px;padding:0;margin:0;background-image:url(img/buttonPagination.gif);background-repeat:no-repeat}
.pagination a.prev,
.pagination a.prevEnd{background-position:left top;margin-right:5px !important}
.pagination a.next,
.pagination a.nextEnd{background-position:right top;margin-left:5px !important}
.pagination a.prev span,
.pagination a.prevEnd span,
.pagination a.next span,
.pagination a.nextEnd span{position:absolute;width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0}
.pagination a:hover,
.pagination a:active,
.pagination a:focus{background-color:#f4f4f4 !important;border:1px solid #ececec;margin:-1px 1px;-moz-border-radius:2px;-webkit-border-radius:2px}


/* Product catalog */
.pagination
{
    background-color: white;
}
#top_menu
{
    border: 1px solid gray;
    padding: 10px;
    text-align: right;
}

#breadcrumbs
{
    border:1px solid gray;
    padding: 10px;
    width:40%;
    float: left;
}

#content {
    padding: 10px;
}

#top_links {
    display: none;
}

.sidebar {
    width: 20%;
    float: left;
}

#my_account_sidebar {
    width: 20%;
    float: left;
    background-color: #fafad2;
}

#my_account_sidebar ul {
    list-style-type: none;
    margin-top: 5px;
}

#my_account_sidebar li {
    padding: 5px 0;
    padding-left: 10px;
}
#categories{
    background-color: #fafad2;
}
#categories ul {
    list-style-type: none;
    border: 1px solid gray;
    border-bottom: 0;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

#categories li {
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 5px 0;
    padding-left: 10px;
}

.mainContent {
    float: right;
    position: relative;
    width: 79%;
}

.mainContent#cart, .mainContent#checkout {
    padding: 20px;
    width: 97%;
}

#products div.product {
    border:1px solid gray;
    margin: 5px;
    padding: 5px;
    width: 200px;
    float: left;
    text-align: center;
    background-color: #ffffff;
}

#products div.product span {
    display: block;
    clear: both;
}

#cart th {
    text-align: left;
}

#cart .quantity {
    width: 100px;
}

#cart .quantity input {
    border: 1px dashed #cecbb1;
    width: 40px;
}
#cart .title {
    width: 300px;
}
#cart a.update, #cart #update_multiple {
    display: none;
}
#cart .price {
    width: 70px;
}
#cart tr.bottom {
    font-weight: bold;
}

#checkout fieldset {
    border-top: 1px dashed black;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 20px 0 30px 0;
}
#checkout form#big {
    margin: 20px 0 0 0;
    display: block;
}

/**
 * GENERAL STYLES
 * @author: Daniel Ionescu
 */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans;
    font-size: .750em;
    color: #000;
}

.layout-centered {
    width: 960px;
    margin: 0 auto;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

input[type="text"] {
    border: 1px solid #bcc1ca;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 3px;
}

select {
    border: 1px solid #bcc1ca;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f6f6));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
    box-shadow: inset 0px -1px 1px 0px #e8e8e8;
    -moz-box-shadow: inset 0px -1px 1px 0px #e8e8e8;
    -webkit-box-shadow: inset 0px -1px 1px 0px #e8e8e8;
    color: #8a9cac;
    padding: 5px;
}

a {
    color: #2D5375;
}


/* START CLEARFIX */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
/* END CLEARFIX */


/**
 * HEADER STYLES
 * @author: Daniel Ionescu
 */
#upper-header {
    border-bottom: 1px solid #e8e8e9;
    background: #f6f7f8;
}

#upper-header p {
    margin: 0;
    padding: 10px;
    line-height: 28px;
    vertical-align: middle;
}

#header-socials, #header-socials a {
    color: #13a0df;
}

.header-separator {
    border-right: 1px solid #e8e8e9;
}

#header {
    border-bottom: 1px solid #bec9d4;
    padding: 20px 0;
}

#header p {
    line-height: 30px;
}

#header-links, #header-links a {
    color: #2d5375;
}

#header-links {
    margin: 5px 0;
    font-size: 1.063em;
}

#header-search {
    position: relative;
    margin: 5px 0 5px 60px;
}

#header-search input[type="image"] {
    position: absolute;
    right: 10px;
    top: 10px;
}

#header-search select {
    border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    border: 1px solid #cacaca;
    border-right: 1px solid #dddfe0;
    padding: 8px 5px 8px 8px;
    vertical-align: top;
    height: 36px;
    width: 140px;
}

#header-search input[type="text"] {
    border: 1px solid #cacaca;
    border-left: 0;
    width: 300px;
    padding: 0 34px 0 8px;
    border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    vertical-align: top;
    height: 34px;
}

/**
 * PAGINATION STYLES
 * @author: Daniel Ionescu
*/
.pagination {
    text-align: center;
    background: #f6f6f7;
    box-shadow: inset 0px 1px 0px 0px #fff;
    -moz-box-shadow: inset 0px 1px 0px 0px #fff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fff;
    margin: 0 0 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 0 0 #BDC6D0;
    -moz-box-shadow: 0 1px 0 0 #BDC6D0;
    -webkit-box-shadow: 0 1px 0 0 #BDC6D0;
    line-height: 40px;
    border: 1px solid #bec9d4;
}

.body-two-columns .pagination {
    margin-left: 10px;
}

/**
 * BODY STYLES
 * @author: Daniel Ionescu
 */
#body {
    background: #dbe6f1;
    padding: 10px 0;
}

#body-left-sidebar {
    width: 234px;
    float: left;
}

#body-content {
    border-top: 1px solid #dbe6f1;
}

.body-two-columns {
    margin-left: 234px;
}

.body-left-panel {
    font-size: 1.063em;
    margin: 0 0 10px 0;
}

.body-left-panel h3 {
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    box-shadow: inset 0px 0px 0px 1px #517490;
    -moz-box-shadow: inset 0px 0px 0px 1px #517490;
    -webkit-box-shadow: inset 0px 0px 0px 1px #517490;
    background: #30597b;
    background: -moz-linear-gradient(top,  #30597b 0%, #264a6c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#30597b), color-stop(100%,#264a6c));
    background: -webkit-linear-gradient(top,  #30597b 0%,#264a6c 100%);
    background: -o-linear-gradient(top,  #30597b 0%,#264a6c 100%);
    background: -ms-linear-gradient(top,  #30597b 0%,#264a6c 100%);
    background: linear-gradient(to bottom,  #30597b 0%,#264a6c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30597b', endColorstr='#264a6c',GradientType=0 );
    border: 1px solid #284e70;
    margin: 0;
    color: #fff;
    padding: 10px;
    font-weight: normal;
}

.body-left-panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.body-left-panel li ul {
    display: none;
}

.body-left-panel>ul {
    border: 1px solid #bec9d4;
    border-top: 0;
}

.body-left-panel ul>li {
    background: #fff;
}

.body-left-panel ul li p {
    border-top: 1px solid #ececec;
    padding: 9px;
    margin: 0;
}

.body-left-panel ul li p a {
    text-decoration: none;
    color: #2a5072;
}

.body-left-panel li.active>p {
    background: #15ace2;
    background: -moz-linear-gradient(top,  #15ace2 0%, #1196dc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#15ace2), color-stop(100%,#1196dc));
    background: -webkit-linear-gradient(top,  #15ace2 0%,#1196dc 100%);
    background: -o-linear-gradient(top,  #15ace2 0%,#1196dc 100%);
    background: -ms-linear-gradient(top,  #15ace2 0%,#1196dc 100%);
    background: linear-gradient(to bottom,  #15ace2 0%,#1196dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15ace2', endColorstr='#1196dc',GradientType=0 );
    border: 1px solid #0d86d2;
    box-shadow: inset 0px 0px 0px 1px #3ab9e6;
    -moz-box-shadow: inset 0px 0px 0px 1px #3ab9e6;
    -webkit-box-shadow: inset 0px 0px 0px 1px #3ab9e6;
}

.body-left-panel li.active>p span.product-count {
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #129add;
    box-shadow: 1px 1px 0px 0px #0f80b2;
    -moz-box-shadow: 1px 1px 0px 0px #0f80b2;
    -webkit-box-shadow: 1px 1px 0px 0px #0f80b2;
    padding: 1px 4px;
    font-size: 0.875em;
}

.body-left-panel span.product-count {
    color: #898989;
    float: right;
}

.body-left-panel span.close-sign:hover, .body-left-panel span.open-sign:hover {
    cursor: pointer;
}

li.active>p span.close-sign, li.active>p span.open-sign {
    text-shadow: 1px 1px 0px #0f80b2;
    -moz-text-shadow: 1px 1px 0px #0f80b2;
    -webkit-text-shadow: 1px 1px 0px #0f80b2;
    font-weight: bold;
    color: #fff;
    margin: 0 10px 0 0;
    font-size: 1.1em;
}

li span.close-sign, li span.open-sign {
    text-shadow: 1px 1px 0px #e7e7e7;
    -moz-text-shadow: 1px 1px 0px #e7e7e7;
    -webkit-text-shadow: 1px 1px 0px #e7e7e7;
    color: #129dde;
    font-weight: bold;
    margin: 0 10px 0 0;
    font-size: 1.1em;
}

.display-none {
    display: none;
}

.body-left-panel li.active>p a {
    color: #fff;
    text-shadow: 1px 1px 0px #0f80b2;
    -moz-text-shadow: 1px 1px 0px #0f80b2;
    -webkit-text-shadow: 1px 1px 0px #0f80b2;
}

.body-left-panel ul>li>ul>li p {
    padding: 10px 10px 10px 20px;
}

.body-left-panel ul>li>ul>li>ul>li p {
    padding: 10px 10px 10px 30px;
}

.body-left-panel-content {
    background: #fff;
    border-left: 1px solid #bec9d4;
    border-right: 1px solid #bec9d4;
    border-bottom: 1px solid #bec9d4;
    box-shadow:  0px 1px 0px 0px #bdc6d0;
    -moz-box-shadow:  0px 1px 0px 0px #bdc6d0;
    -webkit-box-shadow:  0px 1px 0px 0px #bdc6d0;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
}

#newsletter .body-left-panel-content p {
    margin: 0;
    padding: 10px;
}

.product-list .product {
    width: 210px;
    overflow: hidden;
    margin: 0 0 10px 10px;
    float: left;
    border: 1px solid #bec9d4;
    box-shadow:  0px 1px 0px 0px #bdc6d0;
    -moz-box-shadow:  0px 1px 0px 0px #bdc6d0;
    -webkit-box-shadow:  0px 1px 0px 0px #bdc6d0;
    padding: 10px 10px 0 10px;
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.product .produc-variants {
    color: #595959;
}

.product .product-variants p {
    line-height: 2.200em;
}

.product-list .product-link {
    display: block;
    width: 210px;
    text-align: center;
    text-decoration: none;
}

.product-list .product-link img {
    padding: 19px;
    border: 1px solid #cacaca;
    border-bottom: 0;
}

.product-list .product-link h4 {
    margin: 0;
    padding: 10px;
    background: #f3f4f6;
    color: #129cdd;
    border: 1px solid #bec9d4;
    font-size: 1.167em;
    font-weight: normal;
}

.product-list .buy {
    border-top: 1px solid #e3e3e3;
    padding: 10px 0;
    margin: 0;
    color: #2d5375;
    font-size: 1.167em;
    line-height: 18px;
}

.product-list .quantity input {
    text-align: center;
    width: 30px;
    margin: 0 0 0 5px;
    color: #000;
}

.product-list .add-to-cart {
    padding: 0 0 0 20px;
    background: url('img/bag-icon-w12.png') 0 center no-repeat;
    text-decoration: none;
}

.product-list .price {
    float: right;
}

.breadcrumbs {
    border: 1px solid #bec9d4;
    background: #f6f6f7;
    box-shadow: inset 0px 1px 0px 0px #fff;
    -moz-box-shadow: inset 0px 1px 0px 0px #fff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fff;
    margin: 0 0 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    box-shadow: 0 1px 0 0 #BDC6D0;
    -moz-box-shadow: 0 1px 0 0 #BDC6D0;
    -webkit-box-shadow: 0 1px 0 0 #BDC6D0;
}

.body-two-columns .breadcrumbs {
    margin-left: 10px;
}

.breadcrumbs-title {
    line-height: 40px;
    padding: 0 10px;
    color: #2d5375;
    font-size: 1.167em;
    line-height: 40px;
}

.breadcrumbs-options {
    position: absolute;
    right: 0;
    right: 0;
}

.breadcrumbs-options select {
    margin-right: 13px;
}

.breadcrumbs-options a {
    padding: 13px;
    border-left: 1px solid #bec9d4;
    line-height: 40px;
}

.breadcrumbs-options a img {
    vertical-align: middle;
}

/**
 * Footer Styles
 * @author: Daniel Ionescu
*/
.footer {
    border-top: 7px solid #254a6b;
    background: url('img/footer-bg.gif') 0 0 repeat;
    color: #fff;
    padding: 5px 0;
}

.footer a {
    color: #fff;
}

.footer-box {
    float: left;
    margin-right: 20px;
}

.footer-box ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-box ul li, .footer-box ul li p {
    margin: 5px 0;
}

.footer-box h3 {
    font-weight: normal;
    font-size: 1.250em;
}

.footer-box p {
    font-size: 1.083em;
}