@charset "utf-8";
/* Arnia (xe_dev@arnia.ro) */



/* Element Reset */
html{
    background:#fff /*url(img/bgHtml.gif)*/
}
body{font-family:AppleGothic, Tahoma, Sans-serif;font-size:12px;margin:0;color:#000}
address{font-style:normal}
hr{display:none;position:absolute}
legend{position:absolute;width:0;height:0;font-size:0;line-height:0;visibility:hidden}
fieldset{border:0;padding:0;margin:0}
img{border:0}

/* Pagination Reset */
.pagination{padding:15px 0;margin:0;text-align:center}
.pagination.aLeft{text-align:left}
.pagination.aRight{text-align:right}
.pagination *{margin:0;padding:0}
.pagination img{border:0}
.pagination a,
.pagination strong{position:relative;display:inline-block;text-decoration:none;line-height:normal;color:#333;font-family:Tahoma, Sans-serif;vertical-align:middle}
.pagination a:hover,
.pagination a:active,
.pagination a:focus{background-color:#f4f4f4 !important}
.pagination strong{color:#ff6600 !important}
.pagination a.prev,
.pagination a.prevEnd,
.pagination a.next,
.pagination a.nextEnd{font-weight:normal !important;border:none !important;margin:0 !important;white-space:nowrap}

/* Pagination Shop */
.pagination a,
.pagination strong{margin:0 2px;padding:1px 2px;font-size:12px}
.pagination a.prev,
.pagination a.prevEnd,
.pagination a.next,
.pagination a.nextEnd{display:inline-block;width:18px;height:19px;padding:0;margin:0;background-image:url(img/buttonPagination.gif);background-repeat:no-repeat}
.pagination a.prev,
.pagination a.prevEnd{background-position:left top;margin-right:5px !important}
.pagination a.next,
.pagination a.nextEnd{background-position:right top;margin-left:5px !important}
.pagination a.prev span,
.pagination a.prevEnd span,
.pagination a.next span,
.pagination a.nextEnd span{position:absolute;width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0}
.pagination a:hover,
.pagination a:active,
.pagination a:focus{background-color:#f4f4f4 !important;border:1px solid #ececec;margin:-1px 1px;-moz-border-radius:2px;-webkit-border-radius:2px}


/* Product catalog */
.pagination
{
    background-color: white;
}
.clear
{
    clear: both;
}
#container
{
    margin: 0 20px;
}
#top_menu
{
    border: 1px solid gray;
    padding: 10px;
    text-align: right;
}

#breadcrumbs
{
    border:1px solid gray;
    padding: 10px;
    width:40%;
    float: left;
}
#main_menu
{
    display: inline;
}
#main_menu ul
{
    list-style-type: none;
    display: inline;
}
#main_menu ul li
{
    display: inline;
}
#top_links
{
    border: 1px solid gray;
    padding: 5px;
    width: 55%;
    float: right;
    text-align: right;
}

#top_links form
{
    display: inline;
    padding-left: 20px;
}
#top_links a
{
    padding: 0 5px;
}

#top_links a:hover
{
    background-color: #ffff00;
}

#content
{
    padding: 10px;
}

#categories
{
    width: 20%;
    float: left;
    background-color: #fafad2;
}

#categories ul
{
    list-style-type: none;
    border: 1px solid gray;
    border-bottom: 0;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

#categories li
{
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 5px 0;
    padding-left: 10px;
}

.mainContent
{
    float: right;
    position: relative;
    width: 79%;
    background-color: #add8e6;
}
.mainContent#cart
{
    background: #fff;
    padding: 20px;
    width: 76%;
}

#products div.product
{
    border:1px solid gray;
    margin: 5px;
    padding: 5px;
    width: 200px;
    float: left;
    text-align: center;
    background-color: #ffffff;
}

#products div.product span
{
    display: block;
    clear: both;
}
.add_to_cart
{
    display: inline-block;
    clear: both;
    padding: 5px;
    margin: 5px;
    background-color: #87cefa;
    text-decoration: none;
}
.add_to_cart:hover
{
    background-color: #e0ffff;
}
.active a
{
    font-weight: bold;
}

#cart th {
    text-align: left;
}
#cart .quantity {
    width: 100px;
}
#cart .quantity input {
    border: 1px dashed #cecbb1;
    width: 40px;
}
#cart .title {
    width: 300px;
}
#cart a.update {
    display: none;
}
#cart .price {
    width: 70px;
}
#cart tr.bottom {
    font-weight: bold;
}