#multiLanguageValues
{
    width:300px;
    text-align: center;
    z-index: 10000;
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
}
#multiLanguageValues ul
{
    list-style-type: none;
    text-align: left;
}
#multiLanguageValues li
{
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}
#multiLanguageValues li.en {background-image:url(../../../admin/tpl/img/flag.us.gif) }
#multiLanguageValues li.ko {background-image:url(../../../admin/tpl/img/flag.kr.gif) }
#multiLanguageValues li.jp {background-image:url(../../../admin/tpl/img/flag.jp.gif) }
#multiLanguageValues li.fr {background-image:url(../../../admin/tpl/img/flag.fr.gif) }
#multiLanguageValues li.de {background-image:url(../../../admin/tpl/img/flag.de.gif) }
#multiLanguageValues li.ru {background-image:url(../../../admin/tpl/img/flag.ru.gif) }
#multiLanguageValues li.es {background-image:url(../../../admin/tpl/img/flag.es.gif) }
#multiLanguageValues li.tr {background-image:url(../../../admin/tpl/img/flag.tr.gif) }
#multiLanguageValues li.vi {background-image:url(../../../admin/tpl/img/flag.vn.gif) }
#multiLanguageValues li.mn {background-image:url(../../../admin/tpl/img/flag.mn.gif) }
#multiLanguageValues li.zh-CN {background-image:url(../../../admin/tpl/img/flag.cn.gif) }
#multiLanguageValues li.zh-TW {background-image:url(../../../admin/tpl/img/flag.tw.gif) }

#multiLanguageValues li label {
    display: inline-block;
    width: 70px;
}
.multiLanguageInput a.translate {
    margin: 0 5px;
    vertical-align: middle;
}