form { color:#555; padding: 0 0 20px 60px; }
form label {
    display: block;
    margin: 10px 5px;
    width: 200px;
}

form input,
form textarea,
form select {
    width: 200px;
    display: block;
    margin: 5px;
}

form input.submit {
    margin:20px 5px;
}